### User credentials (dont check this into your repo)
. ~/.env

alias n=nvim
alias ls='ls -A --color=always --group-directories-first -1 -v'
alias cs="clear; git status || ls "
alias .z=". ~/.zshrc"
alias j="fasd_cd -d"
alias .x="~/.xsession"
alias ne="PATH=$PATH:./node_modules/.bin; "
alias gg="git --no-pager l -30"
alias be="bundle exec"
alias poston="pg_ctl start -D ~/.linuxbrew/var/postgres/ -l ~/.linuxbrew/var/postgres/log"
alias postoff="pg_ctl stop -D ~/.linuxbrew/var/postgres/"
alias postlog="cat ~/.linuxbrew/var/postgres/log"
alias encodeURIComponent='perl -pe '\''s/([^a-zA-Z0-9_.!~*()'\''\'\'''\''-])/sprintf("%%%02X",ord($1))/ge'\'
alias open="xdg-open"
alias fonts="fc-list | cut -f2 -d: | selecta"

alias post="curl -X POST"
alias put="curl -X POST"

# jq aliases 
alias jq-apis-hash="jq '[.apis[] | .props = (reduce .properties[] as \$x ({}; . + {(\$x.type | ascii_downcase): (\$x.value // \$x.url)})) | del(.properties)']"
alias jq-apis="jq-apis-hash | jq '[.[] + .[].props | del(.props)]'"
alias jq-is-private="jq 'map(select(.props[\"x-private\"] == \"true\"))'"

# SwaggerHub Aliases
alias ponelat-apis="curl -s \
  -H 'Authorization: $SWAGGERHUBDEV_TOKEN' \
  -H 'Accept: application/json' \
  https://dev-api.swaggerhub.com/apis/ponelat"

alias josh-apis="curl -s \
  -H 'Authorization: $SWAGGERHUBDEV_JOSH_TOKEN' \
  -H 'Accept: application/json' \
  https://dev-api.swaggerhub.com/apis/josh"
 
alias swaggerhub-apis="curl -s \
  -H 'Authorization: $SWAGGERHUBINTERNAL_TOKEN' \
  -H 'Accept: application/json' \
  https://internal-api.swaggerhub.com/apis/swagger-hub"

alias registry-api="curl -s \
  -H 'Authorization: $SWAGGERHUBINTERNAL_TOKEN' \
  -H 'Accept: application/json' \
  https://internal-api.swaggerhub.com/apis/swagger-hub/registry-api/1.0.28"

# Tail / Head aliases
alias tail-n="tail -n +2"
# GitHub aliases
alias ghi-tasks


pick-cheat() {
  cmd=$(cat ~/.cheats | IFS=':' pick -Xdo) 
  bash -c "$cmd"
}

pick-cheat-echo() {
  cmd=$(cat ~/.cheats | IFS=':' pick -Xdo) 
  echo "$cmd"
}

alias pc=pick-cheat
alias pce=pick-cheat-echo

get-endpoint() {
  jq-paths | selecta
}

function select-endpoint() { 
  api="$(</dev/stdin)"  
  echo $api | get-endpoint | jq 
  # echo Your path: $path
}

function ignore() {
  echo $@ >> .gitignore
}


