.env
**/npm-debug.log
funcs/private
funcs/work
dots/emacs.d/private-functions.el
/dots/emacs.d/tldr/
/dots/emacs.d/request/
/dots/emacs.d/projectile.cache
/dots/emacs.d/bookmarks
/dots/emacs.d/.lsp-eslint-choices
/dots/emacs.d/.dap-breakpoints
/dots/emacs.d/.lsp-session
